################################################################################
### BUILD FILES

/minishell
/.build

/libft/.build/

/tests/minishell.a

################################################################################
### DEV FILES

/compile_commands.json
*.out
/.cache

################################################################################
### VIM FILES

*.swp

