################################################################################
### BUILD FILES

/minishell
/.build

################################################################################
### DEV FILES

/compile_commands.json

################################################################################
### VIM FILES

*.swp

