################################################################################
### BUILD FILES

/minishell
/.build

################################################################################
### DEV FILES

/compile_commands.json
*.out

################################################################################
### VIM FILES

*.swp

